BOT_TOKEN=
ADMIN_IDS=123456789,987654321
DATABASE_PATH=./bot.db
DEFAULT_ENTRY_FEE=20
DEFAULT_MONTHLY_RATE=20
FREE_DAYS=30
GROUP_IDS=
REPORT_HOUR=6
EVENING_REPORT_HOUR=20
TIMEZONE=Asia/Tashkent
REDIS_URL=
# Для docker-compose: REDIS_URL=redis://redis:6379/0
